<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ginger</title>
    <link rel="stylesheet" href="../static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0">
    <script src="../static/script.js" defer></script>
</head>

<body class="show-chatbot">
    <canvas id="canvas"></canvas>
    
    <div class="chatbot">
        <header>
            <h2>Ginger</h2>
            <span class="material-symbols-outlined">clear</span>
        </header>

        <ul class="chatbox">
            <li class="chat incoming">
                <span class="material-symbols-outlined">smart_toy</span>
                <p>Hello, my name is Ginger and I'm a chatbot. How can I help you?</p>
            </li>
        </ul>
        
        <div class="chat-input">
            <textarea placeholder="Enter a message..." required></textarea>
            <span id="send-btn" class="material-symbols-outlined">send</span>
        </div>
    </div>
    
</body>
</html>